/node_modules
/public/build
/public/hot
/public/storage
/public/bower_components
/public/mix-manifest.json
/public/tmp
/public/uploads
/database/dump
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/nbproject
/database/csv/.~lock.*.csv#
